PORT=5000
NODE_ENV=development

MONGO_URI=mongodb+srv://YOUR_USER:YOUR_PASSWORD@cluster.mongodb.net/uhazvumart
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRE=30d

RAZORPAY_KEY_ID=rzp_test_XXXXXXXXXXXX
RAZORPAY_KEY_SECRET=your_razorpay_secret

CLIENT_URL=https://your-frontend-domain.com
WHATSAPP_NUMBER=917418702397
